@import "src/styles/common/colors";
@import "src/styles/common/media";

.users-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0;

  &::after {
    content: '';
    display: block;
    margin-left: 31%;
  }
}

.user-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $user-card-color;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 6px #ccc;

  @include smMin {
    width: 48%;
  }

  @include mdMin {
    width: 31%;
  }

  @include lgMin {
    width: 23.5%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 20px;
    overflow: hidden;

    &::before {
      content: "";
      top: 0;
      position: absolute;
      background-color: $primary;
      width: 100%;
      height: 100px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 110px;
    height: 110px;
    position: relative;
    border: 5px solid #fff;
    border-radius: 50%;
    margin-top: 40px;
    z-index: 2;
  }

  &__name {
    font-weight: 700;
    margin: 15px 0;
  }

  a,
  &__desc {
    font-size: .875rem;
    text-align: center;
  }

  &__desc {
    color: $text-light-color;
  }

  &__cta {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }

  &__btn {
    width: 100%;
    color: $primary;
    font-weight: 600;
    border: 0;
    &:hover {
      text-decoration: underline;
    }
  }

}