@import "src/styles/common/colors";

.add-button {
  $btn-size: 50px;
  display: block;
  padding: 10px 15px;
  background-color: $primary;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  border: 0;
  transition: all .3s ease;

  &:hover {
    background-color: $secondary;
  }
}