@import "src/styles/common/media";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
  min-height: 100vh;

  @include smMin() {
    max-width: 540px;
  }

  @include mdMin() {
    max-width: 720px;
  }

  @include lgMin() {
    max-width: 960px;
  }

  @include xlMin() {
    max-width: 1140px;
  }
}