@import "src/styles/common/colors";

.posts-cards-wrapper {
  display: flex;
  flex-direction: column;
}

.post-card {
  $self: &;
  background-color: $user-card-color;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 6px #ccc;

  &--short {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 20px;

    #{$self}__cta {
      margin-left: auto;
    }
  }

  &--full {

  }

  &__name {
    text-align: center;
    margin: 30px 0;
  }

  &__title {

  }

  &__desc {

  }

  &__cta {

  }
}