$header-color: #325ea1;
$footer-color: #FCB11C;
$border-color: #000;
$bg-color: #f0f2f5;
$text-color: #1c1e21;
$user-card-color: #fff;
$text-light-color: #686868;

$primary: #325ea1;
$secondary: #FCB11C;

$skeleton-loading: #ECECEC;
$error-btn: #f57e7c;
$warning-btn: #f5c76f;
$success-btn: #4bd67b;
$info-btn: #71b2df;
$shadow: #cccccc;
$comment-bg: #F0F2F5;
$success-txt-color: #155724;
$success-bg-color: #d4edda;
$success-brd-color: #c3e6cb;
$info-txt-color: #004085;
$info-bg-color: #cce5ff;
$info-brd-color: #b8daff;
$warning-txt-color: #856404;
$warning-bg-color: #fff3cd;
$warning-brd-color: #ffeeba;
$error-txt-color: #721c24;
$error-bg-color: #f8d7da;
$error-brd-color: #f5c6cb;
